.app__avatar {
    width: 30px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #0000002e;
}

.clickable {
    cursor: pointer;
    transition: all .3s;
}

.clickable:hover {
    background: rgba(255, 255, 255, 0.1);
}

.red {
    color: red;
}

.green {
    color: greenyellow
}

tr:hover {
    opacity: .9;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

td[player-class] a {
    text-decoration: none;
}

td[player-class] a:hover span {
    text-decoration: none;
    color: white;
}

td[player-class*='Warlock'] span {
    color: #8788EE;
}

td[player-class*='Death'] span {
    color: #C41E3A;
}

td[player-class*='Druid'] span {
    color: #FF7C0A;
}

td[player-class*='Mage'] span {
    color: #3FC7EB;
}

td[player-class*='Warrior'] span {
    color: #C69B6D;
}

td[player-class*='Evoker'] span {
    color: #33937F;
}

td[player-class*='Demon'] span {
    color: #A330C9;
}

td[player-class*='Paladin'] span {
    color: #F48CBA;
}

td[player-class*='Priest'] span {
    color: #fff;
}

td[player-class*='Monk'] span {
    color: #00FF98;
}

td[player-class*='Shaman'] span {
    color: #0070DD;
}

td[player-class*='Rogue'] span {
    color: #FFF468;
}

td[player-class='Hunter'] span {
    color: #AAD372;
}